html
  title My projects
  body
    h1(ng-show = "success") Success!
    h1(ng-show = "failure") Failure!
    h1 Manage projects
    h2 Create new project
    div(class="form")
      p Project name
        div(class="text-box")
          input(type="text", name="name", ng-model="form.project_name")
      p Description
        div(class="text-box")
          input(type="text", name="description", ng-model="form.project_description")
      p Start date
        div(class="text-box")
          input(type="text", name="startDate", ng-model="form.project_start_date")
      p End date
        div(class="text-box")
          input(type="text", name="endDate", ng-model="form.project_end_date")
      p Estimated cost
        div(class="text-box")
          input(type="text", name="estCost", ng-model="form.project_estimated_cost")
      p Estimated ROI
        div(class="text-box")
          input(type="text", name="estROI", ng-model="form.project_estimated_roi")
      p
        button(ng-click="submit()") Submit
