html
  title My groups
  body
    h1(ng-show = "success") <span style = "color: green">Success!</span>
    h1 Manage groups
    h2 Create new group
    div(class="form")
      p Name
        div(class="text-box")
          input(type="text", name="name", ng-model="form.group_name")
      p Description
        div(class="text-box")
          input(type="text", name="description", ng-model="form.group_description")
      p
        button(ng-click="submit()") Submit
