html
  title My tasks
  body
    h1(ng-show = "success") Success!
    h1(ng-show = "failure") Failure!
    h1 Manage tasks
    h2 Create new task
    div(class="form")
      p Name
        div(class="text-box")
          input(type="text", name="name", ng-model="form.task_name")
      p Description
        div(class="text-box")
          input(type="text", name="description", ng-model="form.task_description")
      p Project
        div(class="text-box")
          select(ng-model = "form.project_name", ng-options = "project.project_name as project.project_name for project in projects")
      p Employee
        div(class="text-box")
          select(ng-model = "form.employee_id", ng-options = "employee.employee_id as (employee.employee_first_name + ' ' + employee.employee_last_name) for employee in employees")
      p
        button(ng-click="submit()") Submit
