html
  title My lessons
  body
    h1(ng-show = "success") Success!
    h1(ng-show = "failure") Failure!
    h1 Manage lessons
    h2 Create new lesson
    div(class="form")
      p Title
        div(class="text-box")
          input(type="text", name="title", ng-model="form.lesson_title")
      p Description
        div(class="text-box")
          input(type="text", name="description", ng-model="form.lesson_description")
      p Employee
        div(class="text-box")
          select(ng-model = "form.employee_id", ng-options = "employee.employee_id as (employee.employee_first_name + ' ' + employee.employee_last_name) for employee in employees")
      p
        button(ng-click="submit()") Submit
