div(ng-if = "!loading")
  table(class="table table-striped")
    thead
      tr
        th(colspan="4")
          h1 My employees
      tr
        th First Name
        th Last Name
        th Location
        th Job Title
        th Is Manager
        th Is Executive
    tbody
      tr(ng-repeat="employee in employees")
        td {{employee.employee_first_name}}
        td {{employee.employee_last_name}}
        td {{employee.employee_location}}
        td {{employee.employee_job_title}}
        td {{employee.employee_is_manager}}
        td {{employee.employee_is_executive}}
