div(ng-if = "!loading")
  h1 My groups
  div(ng-repeat="group in groups" class="panel-group" id="accordion")
    div(class="panel panel-default")
      div(class="panel-heading")
        h4(class="panel-title")
          a(data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index + 1}}") {{group.group_name}}
    div(id="collapse{{$index + 1}}" class="panel-collapse collapse")
      div(class="panel-body")
        p Description: {{group.group_description}}
