div(ng-if = "!loading")
  table(class="table table-striped")
    thead
      tr
        th(colspan="4")
          h1 My groups
      tr
        th Name
        th Description
        th Members
    tbody
      tr(ng-repeat="group in groups")
        td {{group.group_name}}
        td {{group.group_description}}
        td {{group.group_members}}
