div(ng-if = "!loading")
  h1 My lessons
  div(ng-repeat="lesson in lessons" class="panel-group" id="accordion")
    div(class="panel panel-default")
      div(class="panel-heading")
        h4(class="panel-title")
          a(data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index + 1}}") {{lesson.lesson_title}}
    div(id="collapse{{$index + 1}}" class="panel-collapse collapse")
      div(class="panel-body")
        p Description: {{lesson.lesson_description}}
        p Employee ID: {{lesson.employee_id}}
