div(ng-if = "!loading")
  table(class="table table-striped")
    thead
      tr
        th(colspan="4")
          h1 My lessons
      tr
        th Title
        th Description
        th Employee name
    tbody
      tr(ng-repeat="lesson in lessons")
        td {{lesson.lesson_title}}
        td {{lesson.lesson_description}}
        td {{lesson.employee_id}}
