html
  title My projects
  body
    h1(ng-show = "success") Success!
    h1(ng-show = "failure") Failure!
    h1 Manage projects
    h2 Create new project
    div(class="form")
      p First name
        input(type="text", name="name", ng-model="form.name")
      p Last name
        input(type="text", name="description", ng-model="form.description")
      p Location
        input(type="text", name="startDate", ng-model="form.startDate")
      p Manager
        input(type="text", name="estCost", ng-model="form.estCost")
      p
        button(ng-click="submit()") Submit
