div(ng-if = "!loading")
  h1 My tasks
  div(ng-repeat="task in tasks" class="panel-group" id="accordion")
    div(class="panel panel-default")
      div(class="panel-heading")
        h4(class="panel-title")
          a(data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index + 1}}") {{task.task_name}}
    div(id="collapse{{$index + 1}}" class="panel-collapse collapse")
      div(class="panel-body")
        p Description: {{task.task_description}}
        p Project: {{task.project_name}}
