div(ng-if = "!loading")
  table(class="table table-striped")
    thead
      tr
        th(colspan="4")
          h1 My tasks
      tr
        th Name
        th Description
        th Project
    tbody
      tr(ng-repeat="task in tasks")
        td {{task.task_name}}
        td {{task.task_description}}
        td {{task.project_name}}
