<h2> Tasks </h2>
<p> View and Manage tasks </p>
div#task-page
	div#task-manager
		div#create-tasks
			<button type="button" id="create-task-button"> Create Task </button>
		div#view-tasks
			<button type="button" id="view-task-button"> View Tasks </button>
		div#update-tasks
			<button type="button" id="view-task-button"> Update Tasks </button>
	div#right-side