body(ng-controller="employeeController")
  table(class="table table-striped")
    thead
      tr
        th(colspan="4")
          h1 My employees
      tr
        th Name
        th Location
        th Manager
        th Job title
    tbody
      tr(ng-repeat="employee in employeeList")
        td {{employee.Employee.FirstName}}&nbsp;{{employee.Employee.LastName}}
        td {{employee.Location}}
        td {{employee.Manager}}
        td {{employee.JobTitle}}
